---
import TTag from "./TTag.astro";
const { project } = Astro.props;
---

<article
  class="my-3 items-center grid grid-cols-12 gap-3 p-3 rounded-md bg-slate-800"
>
  <section class="col-span-12 md:col-span-5 lg:col-span-5 lg:order-2">
    <h3 class="text-2xl font-light">
      {project.title}
    </h3>
    <p class="text-sm">{project.description}</p>
  </section>
  <section
    class="flex lg:py-3 gap-3 items-center justify-center col-span-12 md:col-span-3 lg:col-span-4 flex-wrap lg:order-3"
  >
    {project.tags.map((tag) => <TTag tag={tag} />)}
  </section>
  <figure
    class="col-span-12 md:col-span-4 lg:col-span-3 lg:order-1 rounded-md overflow-hidden"
  >
    <img
      class="transition-all duration-500 lg:hover:scale-105"
      src={project.image.src}
      alt={`Captura de pantalla del proyecto ${project.title}`}
    />
  </figure>

  <style></style>
</article>
